@import url("https://fonts.cdnfonts.com/css/castoro-titling");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 50px 20px;
  background-color: #1b1b32;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: lato, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main > h1 {
  text-align: center;
  margin: 20px auto;
  max-width: 350px;

  font-size: 36px;
  color: #f5f6f7;
  font-family: "Castoro Titling", sans-serif;
}

form {
  color: #f5f6f7;
  margin: auto 25px;
  padding: 15px auto;
  border: 3px solid #f5f6f7;
  text-align: center;
  width: 90%;
  max-width: 500px;
  background-color: #3b3b4f;
  border-radius: 8px;
}

fieldset {
  border: 0 none;
  height: 100%;
  padding: 25px;
  margin: 10px 20px;
}

label {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  display: block;
  font-size: 2.5rem;
  width: 100%;
  height: 60px;
  padding: 6px 12px;
  margin: 10px 0;
  line-height: 1.4;
  color: white;
  background-color: #0a0a23;
  border: 1px solid #f5f6f7;
  border-radius: 4px;
}

button {
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  text-decoration: none;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
  padding: 10px 16px;
  font-size: 23px;
  width: 100%;
}

button:hover {
  background-image: linear-gradient(#ffac33, #fecc4c);
}

.output {
  color: white;
  background-color: #3b3b4f;
  border: 3px solid #f5f6f7;
  font-size: 2.5rem;
  width: 90%;
  max-width: 500px;
  min-height: 55px;
  margin-top: 25px;
  padding: 15px;
  overflow-wrap: break-word;
  text-align: center;
}
